In [1]:
import pandas as pd

In [2]:
intake24_df = pd.read_csv('files/intake24_survey_file.csv')

In [3]:
print(intake24_df)

                                 Survey ID  User ID                Start time  \
0     5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
1     5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
2     5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
3     5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
4     5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
...                                    ...      ...                       ...
5749  4f7e1c91-c883-438a-b1b5-43bf6f0222cc      263  2022-09-23T11:34:28.178Z
5750  4f7e1c91-c883-438a-b1b5-43bf6f0222cc      263  2022-09-23T11:34:28.178Z
5751  4f7e1c91-c883-438a-b1b5-43bf6f0222cc      263  2022-09-23T11:34:28.178Z
5752  4f7e1c91-c883-438a-b1b5-43bf6f0222cc      263  2022-09-23T11:34:28.178Z
5753  4f7e1c91-c883-438a-b1b5-43bf6f0222cc      263  2022-09-23T11:34:28.178Z

               Submission time Time to complete  Meal ID     Meal name  \
0     2022-08-03T07:07:57.835Z           12 min        1     Breakfast
1     2022-08-03T07:07:57.835Z           12 min        1     Breakfast
2     2022-08-03T07:07:57.835Z           12 min        1     Breakfast
3     2022-08-03T07:07:57.835Z           12 min        1     Breakfast
4     2022-08-03T07:07:57.835Z           12 min        2         Lunch
...                        ...              ...      ...           ...
5749  2022-09-23T11:41:24.412Z            6 min        3  Evening meal
5750  2022-09-23T11:41:24.412Z            6 min        3  Evening meal
5751  2022-09-23T11:41:24.412Z            6 min        3  Evening meal
5752  2022-09-23T11:41:24.412Z            6 min        3  Evening meal
5753  2022-09-23T11:41:24.412Z            6 min        3  Evening meal

      Food ID             Search term Intake24 food code  ...  Zinc  \
0           1  associated food prompt               MARG  ...  0.00
1           2                  Toast                WTST  ...  0.53
2           3  associated food prompt               SMLK  ...  0.07
3           4                  Coffee               FLCO  ...  0.02
4           1        Meat sandwiches                SLMI  ...  2.08
...       ...                     ...                ...  ...   ...
5749        1                    fish               TEMP  ...  0.27
5750        2                   chips               FCFO  ...  0.39
5751        3                   bread               GPIZ  ...  0.74
5752        4                   salac               VIDR  ...  0.00
5753        5               pepsi max               MAXC  ...  0.00

     a-Tocopherol (mg) Caffeine Vitamin A Retionol equivelents  Vitamin B12  \
0                  NaN     0.00                         126.17         0.00
1                  NaN     0.00                           0.00         0.05
2                  NaN     0.00                           2.46         0.10
3                  NaN    60.43                           0.00         0.00
4                  NaN     0.00                           8.28         0.98
...                ...      ...                            ...          ...
5749               NaN     0.00                           1.25         0.23
5750               NaN     0.00                           6.37         0.00
5751               NaN      NaN                            NaN         0.00
5752               NaN     0.00                           0.46         0.00
5753               NaN    41.25                           0.00         0.00

      Folate  Folate food, naturally occurring food folates Iodine Selenium  \
0       0.62                                           0.62   0.45     0.08
1     116.10                                           5.94  38.39     6.48
2       3.28                                           3.12   3.74     0.10
3       0.00                                           0.00   1.56     0.78
4       0.00                                           0.00   1.04    13.56
...      ...                                            ...    ...      ...
5749    2.75                                           2.75   6.43    10.40
5750   10.92                                          10.92   0.64     0.64
5751   12.60                                            NaN   8.40     1.05
5752    0.00                                           0.00   0.23     0.23
5753    0.00                                           0.00   6.38     1.88

      Dietary folate equivalents
0                           0.62
1                         189.54
2                           3.28
3                           0.00
4                           0.00
...                          ...
5749                        2.75
5750                       10.92
5751                         NaN
5752                        0.00
5753                        0.00

[5754 rows x 82 columns]