In [2]:
import pandas as pd

In [3]:
intake24_df = pd.read_csv('files/intake24_survey_file.csv')
print(intake24_df)

                                 Survey ID  User ID                Start time  \
0     5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
1     5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
2     5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
3     5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
4     5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
...                                    ...      ...                       ...
5749  4f7e1c91-c883-438a-b1b5-43bf6f0222cc      263  2022-09-23T11:34:28.178Z
5750  4f7e1c91-c883-438a-b1b5-43bf6f0222cc      263  2022-09-23T11:34:28.178Z
5751  4f7e1c91-c883-438a-b1b5-43bf6f0222cc      263  2022-09-23T11:34:28.178Z
5752  4f7e1c91-c883-438a-b1b5-43bf6f0222cc      263  2022-09-23T11:34:28.178Z
5753  4f7e1c91-c883-438a-b1b5-43bf6f0222cc      263  2022-09-23T11:34:28.178Z

               Submission time Time to complete  Meal ID     Meal name  \
0     2022-08-03T07:07:57.835Z           12 min        1     Breakfast
1     2022-08-03T07:07:57.835Z           12 min        1     Breakfast
2     2022-08-03T07:07:57.835Z           12 min        1     Breakfast
3     2022-08-03T07:07:57.835Z           12 min        1     Breakfast
4     2022-08-03T07:07:57.835Z           12 min        2         Lunch
...                        ...              ...      ...           ...
5749  2022-09-23T11:41:24.412Z            6 min        3  Evening meal
5750  2022-09-23T11:41:24.412Z            6 min        3  Evening meal
5751  2022-09-23T11:41:24.412Z            6 min        3  Evening meal
5752  2022-09-23T11:41:24.412Z            6 min        3  Evening meal
5753  2022-09-23T11:41:24.412Z            6 min        3  Evening meal

      Food ID             Search term Intake24 food code  ...  Zinc  \
0           1  associated food prompt               MARG  ...  0.00
1           2                  Toast                WTST  ...  0.53
2           3  associated food prompt               SMLK  ...  0.07
3           4                  Coffee               FLCO  ...  0.02
4           1        Meat sandwiches                SLMI  ...  2.08
...       ...                     ...                ...  ...   ...
5749        1                    fish               TEMP  ...  0.27
5750        2                   chips               FCFO  ...  0.39
5751        3                   bread               GPIZ  ...  0.74
5752        4                   salac               VIDR  ...  0.00
5753        5               pepsi max               MAXC  ...  0.00

     a-Tocopherol (mg) Caffeine Vitamin A Retionol equivelents  Vitamin B12  \
0                  NaN     0.00                         126.17         0.00
1                  NaN     0.00                           0.00         0.05
2                  NaN     0.00                           2.46         0.10
3                  NaN    60.43                           0.00         0.00
4                  NaN     0.00                           8.28         0.98
...                ...      ...                            ...          ...
5749               NaN     0.00                           1.25         0.23
5750               NaN     0.00                           6.37         0.00
5751               NaN      NaN                            NaN         0.00
5752               NaN     0.00                           0.46         0.00
5753               NaN    41.25                           0.00         0.00

      Folate  Folate food, naturally occurring food folates Iodine Selenium  \
0       0.62                                           0.62   0.45     0.08
1     116.10                                           5.94  38.39     6.48
2       3.28                                           3.12   3.74     0.10
3       0.00                                           0.00   1.56     0.78
4       0.00                                           0.00   1.04    13.56
...      ...                                            ...    ...      ...
5749    2.75                                           2.75   6.43    10.40
5750   10.92                                          10.92   0.64     0.64
5751   12.60                                            NaN   8.40     1.05
5752    0.00                                           0.00   0.23     0.23
5753    0.00                                           0.00   6.38     1.88

      Dietary folate equivalents
0                           0.62
1                         189.54
2                           3.28
3                           0.00
4                           0.00
...                          ...
5749                        2.75
5750                       10.92
5751                         NaN
5752                        0.00
5753                        0.00

[5754 rows x 82 columns]

# Breakdown (From user to ingredient):

The file has many users.

Each user has many surveys.

Each survey has many meals.

Each meal consists of many food components.

Every food component is marked with a "Nutrition ID code".

In [13]:
def rename_columns(old_name:str, new_name: str, df: pd.DataFrame) -> None:
    df.rename(columns = { old_name : new_name }, inplace=True)
    return None

rename_columns('Survey ID', 'survey_id', intake24_df)

In [14]:
# Step 1: Let's split by the survey ID.

# Get the list of survey IDs.
survey_ids_list = intake24_df['survey_id'].unique().tolist()
print(f'Total number of surveys carried out: {len(survey_ids_list)}')

Total number of surveys carried out: 405

In [16]:
# Structure is like this:
# - Map user ID to their respective meal and information
# - Map the meal number to the respective ingredients
# - Map the ingredients to their respective nutrient code

user_information = {}

In [15]:


# Loop one survey ID at a time and split the Intake24 dataframe accordingly.
for id in survey_ids_list:

    filtered_meals = intake24_df.query("survey_id == @id")
    print(filtered_meals)
    break

                               survey_id  User ID                Start time  \
0   5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
1   5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
2   5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
3   5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
4   5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
5   5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
6   5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
7   5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
8   5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
9   5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
10  5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
11  5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z
12  5d3e72da-a241-4e8e-837b-021accf9a37c        1  2022-08-03T06:55:02.102Z

             Submission time Time to complete  Meal ID  \
0   2022-08-03T07:07:57.835Z           12 min        1
1   2022-08-03T07:07:57.835Z           12 min        1
2   2022-08-03T07:07:57.835Z           12 min        1
3   2022-08-03T07:07:57.835Z           12 min        1
4   2022-08-03T07:07:57.835Z           12 min        2
5   2022-08-03T07:07:57.835Z           12 min        2
6   2022-08-03T07:07:57.835Z           12 min        2
7   2022-08-03T07:07:57.835Z           12 min        3
8   2022-08-03T07:07:57.835Z           12 min        3
9   2022-08-03T07:07:57.835Z           12 min        3
10  2022-08-03T07:07:57.835Z           12 min        3
11  2022-08-03T07:07:57.835Z           12 min        4
12  2022-08-03T07:07:57.835Z           12 min        4

                   Meal name  Food ID  \
0                  Breakfast        1
1                  Breakfast        2
2                  Breakfast        3
3                  Breakfast        4
4                      Lunch        1
5                      Lunch        2
6                      Lunch        3
7   Afternoon snack or drink        1
8   Afternoon snack or drink        2
9   Afternoon snack or drink        3
10  Afternoon snack or drink        4
11              Evening meal        1
12              Evening meal        2

                                          Search term Intake24 food code  ...  \
0                              associated food prompt               MARG  ...
1                                              Toast                WTST  ...
2                              associated food prompt               SMLK  ...
3                                              Coffee               FLCO  ...
4                                    Meat sandwiches                SLMI  ...
5                              associated food prompt               SMLK  ...
6                                  Coffee.  Pepsi max               FLCO  ...
7                              associated food prompt               MARG  ...
8                                               Toast               WTST  ...
9                              associated food prompt               SMLK  ...
10                                             Coffee               FLCO  ...
11  Chicken strips.  Bread and butter pudding with...               CCCB  ...
12                           Orange juice   Lemonade                OSQB  ...

    Zinc a-Tocopherol (mg) Caffeine Vitamin A Retionol equivelents  \
0   0.00               NaN     0.00                         126.17
1   0.53               NaN     0.00                           0.00
2   0.07               NaN     0.00                           2.46
3   0.02               NaN    60.43                           0.00
4   2.08               NaN     0.00                           8.28
5   0.07               NaN     0.00                           2.46
6   0.02               NaN    60.51                           0.00
7   0.00               NaN     0.00                         100.94
8   0.53               NaN     0.00                           0.00
9   0.07               NaN     0.00                           2.46
10  0.02               NaN    61.66                           0.00
11  0.83               NaN     0.00                          95.40
12  0.00               NaN     0.00                           2.72

    Vitamin B12  Folate  Folate food, naturally occurring food folates Iodine  \
0          0.00    0.62                                           0.62   0.45
1          0.05  116.10                                           5.94  38.39
2          0.10    3.28                                           3.12   3.74
3          0.00    0.00                                           0.00   1.56
4          0.98    0.00                                           0.00   1.04
5          0.10    3.28                                           3.12   3.74
6          0.00    0.00                                           0.00   1.56
7          0.00    0.50                                           0.50   0.36
8          0.05  116.10                                           5.94  38.39
9          0.10    3.28                                           3.12   3.74
10         0.00    0.00                                           0.00   1.59
11         0.21   22.26                                          22.26   2.01
12         0.00    5.44                                           5.44   2.18

   Selenium  Dietary folate equivalents
0      0.08                        0.62
1      6.48                      189.54
2      0.10                        3.28
3      0.78                        0.00
4     13.56                        0.00
5      0.10                        3.28
6      0.78                        0.00
7      0.06                        0.50
8      6.48                      189.54
9      0.10                        3.28
10     0.80                        0.00
11    12.93                       22.26
12     1.09                        5.44

[13 rows x 82 columns]